{% extends "base.html" %}
{% block content %}
<div class="auth-form">
    <h2 style="text-align: center; color: var(--accent);">Вход в JDH-Gram</h2>
    <form method="POST">
        <input type="email" name="email" placeholder="Ваш Email" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Войти</button>
    </form>
    
    <p style="text-align: center; margin-top: 20px; font-size: 0.9rem; color: var(--text-muted);">
        Впервые в JDH-Gram? 
        <a href="{{ url_for('register') }}" style="color: var(--accent); text-decoration: none; font-weight: bold;">
            Создать аккаунт
        </a>
    </p>
</div>
{% endblock %}
